@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Orbitron&family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Rubik+Dirt&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #17181E;
}
header{
  background-image: url('./Images/bg.png');
  background-size: 100% 100%;
  height: 50vw;
  background-repeat: no-repeat;
  background-color: #202021;
   background-blend-mode: soft-light;
  
   
   
}
#header{
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  overflow: hidden;
}
#header_box_1{
  background-image: url('./Images/Header\ Image.png');
  background-size: contain;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  position: relative;
  left: 12%;
  bottom: 15%;
  transform: rotate(-55deg);
  
}
#header_box_2{
  width: 40%;
  height: auto;
  overflow: hidden;
}


#header_box_2 h1{
  color: #FE8F00;
  font-size: 3em;
  font-weight: bold;
}

#box p{
  min-width: 70%;
  text-align: justify;
  color: white;
}

#header_box_2 button{
  min-width: 8rem;
  height: 2.5rem;
  background-color: #FE8F00;
  border: none;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 1px;
}

#box_1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  min-height: 100%;
}

@media only screen and (max-width:768px){
  nav{
    display: none;
  }
  header{
    height: 80vw
  }
  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header h1{
    font-size: 1.2em;
  }
  #header p{
    text-justify: newspaper;
    text-align: start;
    word-spacing: 2px;
  }
  #header_box_1{
    background-size: 70%;
    position: relative;
    top: 1px;
    
    
   }

   #header_box_2{
    width: 60%;
   }
  
  #header_box_2 button{
    width: 6rem;
    height: 2rem;
    margin-bottom: 10px;
    
  }
  .heading{
    font-size: 1em;
    color: white;
  }
    #para_div{
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #para_div p{
      width: 100%;
      
    }
    #about_img_container{
      display: flex;
      justify-content: center;
    }
    #about_img_container img{
      width: 90%;
    }

    #about_us{
      flex-wrap: wrap-reverse;
    }

    #para_div p{
      width: 80%;
    
      
    }
    
    #enjoy_container{
      height: 100vw;
      padding: 10px;
    }
   #best_meal{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   }
   #best_meal p{
    text-justify:inter-word;
    text-align: start;
    letter-spacing: 1px;
    
    
   }
   
   #Food_container{
    background-size: 40% 40%;
    width: 100%;
    
   }
   #Food_container p{
    width: 100%;
    text-justify: inter-word;
    
   }
   #layer_1_bg{
    display: none;
   }
   #food_box{
    height: 100%;
    overflow: scroll;
   }
   #best_meal div{
    width: 100%;
   }
   #NavLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
   .HiddenNavbar{
    display: block;
   }
   #menu_btn{
    display: none;
   }
   .hidden_nav_list ul{
    display: inline-block;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;


   }

  #mobile_nav{
    color: white !important;
  }
  #card_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width:425px){
  #NavLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 30px;
    text-align: center;
   }

   #menu_btn{
    display: block;
   }
   .hidden_nav_list ul{
    display: none;
    margin: 0px;
    padding: 0px;
    
   }

   .footerNav{
    display: block !important;
    
   }

   #header_box_2{
    width: 100%;
    padding: 10px;
  }
  #header_box_1{
    display: none;
   }

   header{
    height: auto;
   }

   #Food_container{
    background-size: 50% 50%;
    background-position: center;
   }
   #Food_container {
    padding: 20px;
    
   }
   #Food_container p{
    width: 100%;
    
   }
   #about_img_container img{
    width: 90%;
    height: 50%;
  }
  .ui_menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #food_box{
    padding: 10px;
  }
}

